<h1>Booking</h1>
<%= form_for @booking do |form| %>

 <p>
    <b>Choose your clothes</b><br />


 <%= form.collection_select(:item_id, Item.all, :id, :item_type, {:prompt => "Please Select your clothings"}, {:multiple => true}) %>

 <%= form.hidden_field :status, value: "confirm" %>
  </p>
  	<%= form.submit :book %>

  </p>
<% end %>

