
<%unless  @current_user_id.present? %>
<%= link_to "SIGNUP", new_user_path %>/<%= link_to "LOGIN", login_user_user_index_path %>
<%end%>
<%if  @current_user_id.present?%>
<%=link_to "LOGOUT",login_user_user_index_path%>
<%end%>