<h1>LOGIN</h1>
 
<%=form_tag login_user_user_index_path, method: :get do %>
<p> 
  <%= label_tag  :email %>
  <%=text_field_tag :email%>
</p>
<p> 
  <%= label_tag  :password %>
  <%=password_field_tag :password%>
</p>

<p>
  <%=submit_tag :login%>
</p>
<%end%>