<h1>SIGNUP</h1>
<%= form_with scope: :user, url: user_index_path, local: true do |form| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
  </p>
 
  <p>   <%= form.label :user_type %><br>
        <%= form.select(:user_type, ["service provider","service taker"])%>
  </p>
  <p>
  	<%= form.submit %>

  </p>
<% end %>

