<!DOCTYPE html>
<html>
  <head>
    <title>DryCleaner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if flash[:notice]%>
    <div class="notice"><%=notice%></div>
  <%end%>
    <%if flash[:alert]%>
    <div class="alert"><%=alert%></div>
  <%end%>
    <%= yield %>
  </body>
</html>
